@import "./../../styles/abstracts/variables";

.c-button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  background: $color-light-green;
  color: $color-light-blue;

  &:hover {
    opacity: 0.9;
    transform: scale(1.05);
  }
}
