$color-light-green: #00e1d3;
$color-light-blue: #1b263b;
$color-dark-blue: #0d1b2a;
$color-dark-transparent: rgba(255, 255, 255, 0.1);
$color-white: #ffffff;

$light-mode-foreground: #171717;

$dark-mode-background: #0a0a0a;
$dark-mode-foreground: #ededed;

$font-family-default: Arial, Helvetica, sans-serif;
