@import "./../../styles/abstracts/variables";
.sidebarContainer {
  grid-area: sidebar;
  background: $color-light-blue;
  padding: 20px;
  border-right: 1px solid $color-dark-blue;
}

.logo {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 30px;
  background: $color-light-green;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menuItem {
  display: block;
  padding: 12px 10px;
  color: $color-light-green;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: background 0.3s;
  position: relative;
  cursor: pointer;

  &:hover .tooltip {
    background: $color-dark-blue;
    opacity: 1;
  }

  svg {
    margin-right: 10px;
  }
}

.tooltip {
  position: absolute;
  background: #333;
  color: $color-white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.7rem;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  white-space: nowrap;

  &:before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px 5px 0;
    border-style: solid;
    border-color: #333 transparent transparent;
  }
}
