@import "./../../styles/abstracts/variables";
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $color-dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: $color-light-blue;
  padding: 3rem;
  border-radius: 10px;
  width: 350px;
  position: relative;

  h2 {
    color: $color-light-green;
    margin-bottom: 1.5rem;
  }
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  color: $color-white;
  font-size: 1.2rem;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    color: $color-light-green;
  }
}

.input {
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid $color-light-green;
  background: $color-light-green;
  color: $color-light-blue;

  &::placeholder {
    color: var(--light-blue);
  }
}

.errorText {
  color: #ff4d4f;
  font-size: 0.875rem;
}

.switchText {
  text-align: center;
  margin-top: 1rem;
  color: $color-light-green;
}

.switchButton {
  color: $color-light-green;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: inherit;

  &:hover {
    opacity: 0.9;
    transform: scale(1.05);
  }
}
